.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem 2rem;
  width: 100%;
  background: linear-gradient(to bottom, #011b48, #011538);

  &__btn {
    background-color: black;
    color: white;
    font-size: .8rem;
    text-transform: uppercase;
    padding: .6rem 1rem;
    border-radius: 3px;
    border: 3px solid #ccc;
    display: inline-block;
    outline: 0;

    &:hover {
      background-color: white;
      border-color: white;
      color: black;
      cursor: pointer;
    }

    &.is-left {
      float: left;
    }
    &.is-right {
      float: right;
    }
  }
}
