.error-pane {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;

  background: rgba(0,0,0,.3);
  padding: 1rem;
  border-radius: 3px;

  &__prefix {
    color: red;
    margin-right: .3rem;
  }
}
